*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, 'Arial Narrow Bold', sans-serif;
}
body {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
}

table{
    width: 100%;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #000000;
}
h1, h2 {
    text-align: center;
    color: #ffffff;
}
.d0 {
    margin: 20px 0;
    padding: 10px;
    background-color: #686868;
    border-radius: 5px;
}
.d1 {
    margin: 20px 0;
    padding: 10px;
    background-color: #686868;
    border-radius: 5px;
}
.d2 {
    margin: 20px 0;
    padding: 10px;
    background-color: #686868;
    border-radius: 5px;
}
.d3 {
    margin: 20px 0;
    padding: 10px;
    background-color: #686868;
    border-radius: 5px;
}
.d4 {
    margin: 20px 0;
    padding: 10px;
    background-color: #686868;
    border-radius: 5px;
}
.d5 {
    margin: 20px 0;
    padding: 10px;
    background-color: #686868;
    border-radius: 5px;
}
p {
    color: #ffffff;
    margin: 10px 0;
    font-size: large;
}